examples

*.DS_Store

test-data

*/__pycache__
*__pycache__
*.py[cod]

build
*.egg-info


.ruff_cache
.pytest_cache

scratch*/
scratch.py
glm*/


sparkling.nml
# MkDocs documentation
site*/

glm3.nml
